/data
/learnosity
__pycache__/load_data.cpython-38.pyc
config/__pycache__/config.cpython-38.pyc
additional/Capstone_Learnosity.pptx
additional/Learnosity_Capstone.py
additional/Learnosity-poster.pptx
additional/MSc_BA_Learnosity_Capstone.pdf
.vscode/launch.json
